<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Layout - Portal Kampus Mini</title>
    </head>

    <body>
        <header>
            <h1>Portal Kampus Mini</h1>
        </header>

        <nav>
            <a href="#">Menu 1</a>
            <a href="#">Menu 2</a>
            <a href="#">Menu 3</a>
        </nav>

        <main>
            <h2>Area Konten</h2>
            <p>Konten halaman</p>
        </main>

        <footer>
            <small>Foooter</small>
        </footer>
    </body>
</html>